@{
    ViewBag.Title = "IBISA | Transaction Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dl-horizontal dt {
        text-align: left;
    }

    .dl-horizontal dd {
        margin-left: 350px;
        font-weight: 100;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container">
            <h1>Transaction Details</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="@Url.Action("SystemDashboard")">System Dashboard</a></li>
                <li><a href="@Url.Action("TransactionSummary", new { id = ViewBag.AgreementPrimaryId })">Agreement</a></li>
                <li class="active">Transaction Details</li>
            </ol>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 ">
                    <div class="box box-primary">
                        <div class="box-header with-border" style="background-color: #d9edf7; border-color: #bce8f1; padding: 15px 15px; ">
                            <h3 class="box-title" style="color: #31708f; ">Transaction Information</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>TxHash:</dt>
                                <dd>@ViewBag.hash</dd>
                                <dt>Nonce:</dt>
                                <dd>@ViewBag.nonce</dd>
                                <dt>Block Hash:</dt>
                                <dd>@ViewBag.blockHash</dd>
                                <dt>Block Number:</dt>
                                <dd>@ViewBag.blockNumber</dd>
                                <dt>Transaction Index:</dt>
                                <dd>@ViewBag.transactionIndex</dd>
                                <dt>From:</dt>
                                <dd>@ViewBag.from</dd>
                                <dt>To:</dt>
                                <dd>@ViewBag.to</dd>
                                <dt>Value:</dt>
                                <dd>@ViewBag.value</dd>
                                <dt>Gas:</dt>
                                <dd>@ViewBag.gas</dd>
                                <dt>Gas Price:</dt>
                                <dd>@ViewBag.gasPrice</dd>
                                <dt>Input:</dt>
                                <dd class="text-ellipsis">@ViewBag.input</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->